        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
          <div class="my-auto">
            <h2 class="mb-5">Mon parcours</h2>
              <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
Suivant mon intuition et mon désir de prendre soin des autres, je me suis engagée en 
2019 dans la formation de Pierre-Camille Vernet, fondateur de l’<a href="https://www.somatopathie.com/">école de somatopathie®</a>.
<br/>
<br/>
Cette formation en 4 ans nécessite l’étude de l’anatomie et des protocoles de la Somatopathie, 
issus de l'approfondissement des travaux du précurseur Maurice-Raymond Poyet, ostéopathe reconnu, 
qui a su passer d'une ostéopathie structurelle à une ostéopathie informationnelle.
                </div>
              </div>
           </div>
        </section>
