<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto" id="skills-content">
    <h2 class="mb-5">La Somatopathie</h2>
        <div>
        La somatopathie est une <b>technique manuelle douce</b> issue de
        l’ostéopathie développée par Maurice Raymond Poyet.
        <br/>
        <br/>
        La <b>méthode Poyet</b> est une thérapie manuelle basée sur le MRP : mouvement respiratoire
        primaire. Ce MRP est un micro mouvement rythmique qui anime tous les tissus et les os de
        l’organisme. C’est le mouvement de vie a été décrit pour la première fois en 1945 par
        Sutherland, disciple de Andrew Taylor Still, inventeur de l’ostéopathie.
        <br/>
        <br/>
        La somatopathie a été ensuite développée par un élève de Maurice Raymond Poyet. Elle
        consiste à mettre en lien les maux physiques et émotionnels, afin de corriger de façon
        durable les blocages et restaurer la mobilité des articulations, des muscles, des organes.
        </div>
  </div>
</section>
