

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">        
        <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row">
            <div style="align-items: center">
              <img src="images/logo.png" width="500" height="500" alt="logo"/>
              <h1 class="mb-0">Delphine De Loof
                <br>  
                <span class="text-primary" style="font-size: 3rem">Somatopathe</span>
              </h1>
              <div class="text-primary">
                Thérapie manuelle issue de l'ostéopathie méthode Poyet
                <br>
                Libération physique et émotionnelle
              </div>
            </div>
        </div>
        <div class="my-auto" style="padding-top: 3rem">
          <b><em style="font-size: 1rem">“Ce que la parole n'arrive pas à exprimer, le corps s'en charge”</em></b>
        </div>
        <div class="my-auto" style="padding-top: 1rem">
          <div style="font-size: 1.2rem">
          Vous avez des <b>douleurs</b> structurelles, maux de dos, douleurs articulaires ou musculaires
          ou des demandes plus <b>émotionnelles</b> (migraines, stress, insomnies..)?
          N'hésitez pas à me contacter
          </div>
          <br>
          <table width="100%">
            <tr>
              <td width="33%" valign="top">
                <h3>Téléphone</h3>
                <a href="tel:0695100230" style="text-decoration:none">
                  <i class="fa fa-circle fa-phone"></i>
                  <p>06.95.10.02.30</p>
                </a>
              </td>
              <td width="33%" valign="top">
                <h3>e-Mail</h3>
                <a href="mailto:delphine.deloof@gmail.com?subject=somatopathie" style="text-decoration:none">                  
                  <i class="fa fa-circle fa-envelope"></i>
                  <p>delphine.deloof@gmail.com</p>
                </a>
              </td>
              <td width="33%" valign="top">
                <h3>Adresse</h3>
                <a href="https://www.google.fr/maps/place/6+La+B%C3%A9siais,+35450+Livr%C3%A9-sur-Changeon/@48.2114346,-1.362532,17z/data=!3m1!4b1!4m5!3m4!1s0x480ed2b58a0a6d2b:0x63c218a5b79e557c!8m2!3d48.211431!4d-1.360338" style="text-decoration:none">
                  <i class="fa fa-circle fa-map"></i>
                  <p>
                    Lundi et Mardi : <br/>Pôle Médical, 1 Rue Pierre Rouzel, 35340 LIFFRÉ
                  </p>
                  <p>
                    Jeudi : <br/>6 la Bésiais, 35450 Livré sur Changeon
                  </p>
                </a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a class="btn btn-custom" role="button"
                   href="https://calendar.app.google/9fFXez9yMwtH29wA7">
                  <i class="fa fa-clock"></i>
                  Prendre rendez-vous en ligne
                </a>
            </td>
            <td></td>
            </tr>
          </table>
        </div>
      </div>
    </section>
