

      <section class="resume-section p-3 p-lg-5" id="about">        
            <div style="text-align: center">
              <img src="images/logoL.png" width="500" height="500" alt="logo"
                   srcset="images/logoXS.png 100w, images/logoS.png 200w, images/logoL.png 500w"/>
              <h1 class="mb-0">Delphine De Loof
              <br>  
              <span class="text-primary" style="font-size: 3rem">Somatopathe</span>
              </h1>
              <div class="text-primary">
                Thérapie manuelle issue de l'ostéopathie méthode Poyet
                <br>
                Libération physique et émotionnelle
              </div>
              <p style="font-size: 1rem; font-weight: bold; font-style: italic; padding-top: 3rem">“Ce que la parole n'arrive pas à exprimer, le corps s'en charge”</p>
            </div>
          <div style="font-size: 1.2rem; padding-top: 3rem; text-align: justify;">
          Vous avez des <b>douleurs</b> structurelles, maux de dos, douleurs articulaires ou musculaires
          ou des demandes plus <b>émotionnelles</b> (migraines, stress, insomnies..)&nbsp;?
          N'hésitez pas à me contacter
          </div>
          <br>
          <ul class="contact">
            <li>
                <h3>Téléphone</h3>
                <a href="tel:0695100230" style="text-decoration:none">                  
                  <p><i class="fa fa-circle fa-phone-alt"></i> 06.95.10.02.30</p>
                </a>
            </li>    
            <li>
              <h3>e-Mail</h3>
              <a href="mailto:delphine.deloof@gmail.com?subject=somatopathie" style="text-decoration:none">                                  
                <p><i class="fa fa-circle fa-envelope"></i> delphine.deloof@gmail.com</p>
              </a>
            </li>    
            <li style="min-width: 300px;">
              <h3>Adresse</h3>
                <p>
                  Lundi et Mardi : <br/>
                  <a href="https://maps.app.goo.gl/SqD7gvrkFsh1guGi6"><i class="fa fa-map-marker-alt"></i> Pôle Médical 1er étage, 1 Rue Pierre Rouzel, 35340 Liffré</a>
                </p>
                <p>
                  Jeudi : <br/>
                  <a href="https://maps.app.goo.gl/Vd2qXUPKXKavzpGi7"><i class="fa fa-map-marker-alt"></i> 6 la Bésiais, 35450 Livré sur Changeon</a>
                </p>
            </li>    
            <li>
              <h3> Prendre rendez-vous</h3>
              Consultez mon agenda en ligne pour prendre rendez-vous à une date qui vous convient:
              <br/>
              <a class="btn btn-custom" role="button"
                  href="https://calendar.app.google/9fFXez9yMwtH29wA7">
                  <i class="fa fa-calendar-alt"></i> &nbsp;Agenda en ligne
              </a>
            </li>
            <li>
              <h3>FaceBook</h3>
              <a href="https://www.facebook.com/delphine.deloof.somatopathe">
                <i class="fab fa-facebook"></i> Consulter ma page
              </a>
            </li>
          </ul>    
          <div style="padding-top: 3rem; text-align: justify;">
            <h3>Tarifs</h3>
            <ul>
              <li>Consultation adulte : 55€</li>
              <li>Consultation enfant : 50€</li>
            </ul>
            Possibilité de prise en charge par certaines mutuelles, remise d'une note d'honoraire sur simple demande.
          </div>
  
      </div>
    </section>
